<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
     <extension point="org.eclipse.ui.editors">
      <editor name="Form Editor"
              extensions="form"
              icon="shapes.gif"
              default="true"
              class="eu.hydrologis.jgrass.formeditor.FormEditor"
              contributorClass="eu.hydrologis.jgrass.formeditor.FormEditorActionBarContributor"
              id="eu.hydrologis.jgrass.formeditor.FormEditor">
      </editor>
   </extension>
      <extension
         id="eu.hydrologis.jgrass.featureeditor.views"
         name="Form Views"
         point="org.eclipse.ui.views">
      <view
            class="eu.hydrologis.jgrass.featureeditor.views.FormView"
            id="eu.hydrologis.jgrass.featureeditor.views.FormView"
            name="Form View"
            restorable="false">
      </view>
   </extension>
      <extension
         point="net.refractions.udig.project.ui.featureEditor">
      <editor
            id="eu.hydrologis.jgrass.featureeditor.views.FormView.editor"
            name="Feature Editor"
            viewId="eu.hydrologis.jgrass.featureeditor.views.FormView">
      </editor>
   </extension>
     <extension
           point="org.eclipse.ui.actionSets">
        <actionSet
              id="eu.hydrologis.jgrass.formeditor.actionSet1"
              label="Form editor"
              visible="true">
           <action
                 class="eu.hydrologis.jgrass.formeditor.OpenFormAction"
                 icon="icons/connection_d16.gif"
                 id="eu.hydrologis.jgrass.formeditor.action1"
                 label="open"
                 menubarPath="asd"
                 style="push"
                 toolbarPath="asd">
           </action>
        </actionSet>
     </extension>
</plugin>
