<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="eu.hydrologis.jgrass.annotatedclasses" name="annotatedclasses" schema="schema/annotatedclasses.exsd"/>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="eu.hydrologis.jgrass.embeddeddb.earlystartup.AnnotatedClassesCollector">
      </startup>
   </extension>
</plugin>
