<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.refractions.udig.project.ui.tool">
      <category
            icon="icons/redpin16.png"
            id="eu.hydrologis.jgrass.geonotes.category"
            name="Geonotes">
      </category>
      <modalTool
            categoryId="eu.hydrologis.jgrass.geonotes.category"
            class="eu.hydrologis.jgrass.geonotes.tools.GeoNoteTool"
            cursor="default"
            icon="icons/redpin16.png"
            id="eu.hydrologis.jgrass.geonotes.tools.geonotetool"
            name="%postit.name"
            onToolbar="true"
            toolCursorId="geonotesCursor"
            tooltip="%postit.tooltip">
         <cursor
               hotspotX="5"
               hotspotY="5"
               image="icons/geonote_tool.gif">
         </cursor>
      </modalTool>
      <toolCursor
            hotspotX="10"
            hotspotY="10"
            id="geonotesCursor"
            image="icons/geonote_tool.gif">
      </toolCursor>
      <toolCursor
            hotspotX="10"
            hotspotY="10"
            id="geonotesPanCursor"
            image="icons/geonote_pantool.gif">
      </toolCursor>
      <modalTool
            categoryId="eu.hydrologis.jgrass.geonotes.category"
            class="eu.hydrologis.jgrass.geonotes.tools.GeoNoteSelectionTool"
            cursor="default"
            icon="icons/selectionredpin16.png"
            id="eu.hydrologis.jgrass.geonotes.tools.geonoteselectiontool"
            name="%postitselection.name"
            onToolbar="true"
            toolCursorId="geonotesCursor"
            tooltip="%postitselection.tooltip">
         <cursor
               hotspotX="5"
               hotspotY="5"
               image="icons/select_source.png">
         </cursor>
      </modalTool>
      <modalTool
            categoryId="eu.hydrologis.jgrass.geonotes.category"
            class="eu.hydrologis.jgrass.geonotes.tools.GeoNoteMoveTool"
            cursor="default"
            icon="icons/pan_redpin16.png"
            id="eu.hydrologis.jgrass.geonotes.tools.geonotemovetool"
            name="%postitmove.name"
            onToolbar="true"
            toolCursorId="geonotesPanCursor"
            tooltip="%postitmove.tooltip">
         <cursor
               hotspotX="5"
               hotspotY="5"
               image="icons/select_source.png">
         </cursor>
      </modalTool>
   </extension>
   <extension
         id="geonotesmapgraphicid"
         point="net.refractions.udig.mapgraphic.mapgraphic">
      <mapGraphic
            class="eu.hydrologis.jgrass.geonotes.mapgraphic.GeonotesMapGraphic"
            icon="icons/redpin16.png"
            id="eu.hydrologis.jgrass.geonotes.mapgraphic"
            name="%geonotemapgraphic.name">
      </mapGraphic>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="eu.hydrologis.beegisviews.category"
            class="eu.hydrologis.jgrass.geonotes.fieldbook.FieldbookView"
            icon="icons/fieldbookredpin16.png"
            id="eu.hydrologis.jgrass.geonotes.fieldbook.view"
            name="Fieldbook">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eu.hydrologis.jgrass.geonotes.preferences.pages.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="eu.hydrologis.jgrass.geonotes.preferences.pages.GeonotesPreferencePage"
            id="eu.hydrologis.jgrass.geonotes.preferences.pages.geonotesPreferencePage"
            name="%geonotes.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="eu.hydrologis.jgrass.geonotes.category"
            class="eu.hydrologis.jgrass.geonotes.photo.PhotoImportWizard"
            icon="icons/photo.png"
            id="eu.hydrologis.jgrass.geonotes.photo.PhotoImportWizard"
            name="Import Photos">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="eu.hydrologis.jgrass.geonotes.fieldbookactionset"
            label="Geonotes"
            visible="true">
         <action
               class="eu.hydrologis.jgrass.geonotes.fieldbook.actions.OpenFieldBookAction"
               icon="icons/fieldbookredpin16.png"
               id="eu.hydrologis.jgrass.geonotes.openfieldbookaction"
               label="Open Fieldbook"
               style="push"
               toolbarPath="eu.udig.jgrass.mainToolbar/fieldbook"
               tooltip="Open the Fieldbook">
         </action>
      </actionSet>
   </extension>

</plugin>
