<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="eu.hydrologis.jgrass.gpsnmea.preferences.pages.PreferenceInitializer"/>

   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="eu.hydrologis.jgrass.gpsnmea.preferences.pages.GpsPreferencePage"
            id="eu.hydrologis.jgrass.gpsnmea.preferences.pages.GpsPreferencePage"
            name="%gps.name"/>
      <page
            category="eu.hydrologis.jgrass.gpsnmea.preferences.pages.GpsPreferencePage"
            class="eu.hydrologis.jgrass.gpsnmea.preferences.pages.AdvancedGpsPreferencePage"
            id="eu.hydrologis.jgrass.gpsnmea.preferences.pages.AdvancedGpsPreferencePage"
            name="%gps.advanced.name"/>
      <page
            category="eu.hydrologis.jgrass.gpsnmea.preferences.pages.GpsPreferencePage"
            class="eu.hydrologis.jgrass.gpsnmea.preferences.pages.GpsPropertiesPreferencePage"
            id="eu.hydrologis.jgrass.gpsnmea.preferences.pages.GpsPropertiesPreferencePage"
            name="%gps.properties.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="eu.hydrologis.beegisviews.category"
            class="eu.hydrologis.jgrass.gpsnmea.views.GpsView"
            fastViewWidthRatio="0.20"
            icon="icons/antenna16.png"
            id="eu.hydrologis.jgrass.gps.views.GpsView"
            name="%gps.view.name"/>
      <category
            id="eu.hydrologis.beegisviews.category"
            name="BeeGis">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="%gpstools"
            id="eu.hydrologis.jgrass.gpstools"
            label="%gpstools"
            visible="true">
         <menu
               id="gpstools.menu"
               label="%gpstools"
               path="gpstoolspath">
         </menu>
         <action
               allowLabelUpdate="true"
               class="eu.hydrologis.jgrass.gpsnmea.actions.NewPolygonLayer"
               icon="icons/new_polygon_layer.png"
               id="new.layer.polygons"
               label="New polygons layer."
               style="push"
               toolbarPath="gpstoolspath"
               tooltip="Create a new polygon layer to work on.">
         </action>
         <action
               allowLabelUpdate="true"
               class="eu.hydrologis.jgrass.gpsnmea.actions.NewLineLayer"
               icon="icons/new_line_layer.png"
               id="new.layer.lines"
               label="New lines layer."
               style="push"
               toolbarPath="gpstoolspath"
               tooltip="Create a new lines layer to work on.">
         </action>
         <action
               allowLabelUpdate="true"
               class="eu.hydrologis.jgrass.gpsnmea.actions.NewPointLayer"
               icon="icons/new_point_layer.png"
               id="new.layer.points"
               label="New point layer."
               style="push"
               toolbarPath="gpstoolspath"
               tooltip="Create a new point layer to work on.">
         </action>
         <action
               allowLabelUpdate="true"
               class="eu.hydrologis.jgrass.gpsnmea.actions.ZoomToGps"
               disabledIcon="icons/centerzoom16_disabled.png"
               icon="icons/centerzoom16.png"
               id="center.zoom.id"
               label="%center.zoom.label"
               state="false"
               style="toggle"
               toolbarPath="gpstoolspath"
               tooltip="%center.zoom.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.gpsnmea.actions.AutomaticAddPoint"
               disabledIcon="icons/automatic_continue16_disabled.png"
               icon="icons/automatic_continue16.png"
               id="automatic.add.id"
               label="%automatic.label"
               state="false"
               style="toggle"
               toolbarPath="gpstoolspath"
               tooltip="%automatic.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.gpsnmea.actions.GeonoteAdd"
               disabledIcon="icons/gpsnote_disabled.png"
               icon="icons/gpsnote.png"
               id="geonote.add.id"
               label="%geonote.label"
               style="push"
               toolbarPath="gpstoolspath"
               tooltip="%geonote.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.gpsnmea.actions.ManualAddPoint"
               disabledIcon="icons/manual_add16_disabled.png"
               icon="icons/manual_add16.png"
               id="manual.add.id"
               label="%manual.label"
               style="push"
               toolbarPath="gpstoolspath"
               tooltip="%manual.tip">
         </action>
         <action
               class="eu.hydrologis.jgrass.gpsnmea.actions.ToggleLoggingGps"
               disabledIcon="icons/togglelogging16_disabled.png"
               icon="icons/togglelogging16.png"
               id="startgps.id"
               label="%togglegps"
               state="false"
               style="toggle"
               toolbarPath="gpstoolspath"
               tooltip="%togglegps.tip">
         </action>
         <action
               allowLabelUpdate="true"
               class="eu.hydrologis.jgrass.gpsnmea.actions.GpsSettings"
               icon="icons/settings16.png"
               id="open.settings.id"
               label="%open.settings.label"
               style="push"
               toolbarPath="gpstoolspath"
               tooltip="%open.settings.tip">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="eu.hydrologis.jgrass.gpsnmea.StartupHelper">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="eu.hydrologis.jgrass.gpsnmea.export.ExportGpsLogWizard"
            icon="/icons/antenna16.png"
            id="eu.hydrologis.jgrass.gpsnmea.exportlogwizard"
            name="Export Gps Log">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="eu.hydrologis.jgrass.gpsnmea.geopaparazzi.ImportGeopaparazziFolderWizard"
            icon="icons/geopaparazzi_small.png"
            id="eu.hydrologis.jgrass.gpsnmea.geopaparazziimport"
            name="Import Geopaparazzi Data Folder">
      </wizard>
      <wizard
            category="eu.hydrologis.jgrass.ui.featureimportcategory"
            class="eu.hydrologis.jgrass.gpsnmea.imports.ArcpadImportWizard"
            icon="icons/arcpad32.png"
            id="eu.hydrologis.jgrass.gpsnmea.arcpadimportwizard"
            name="Import Arcpad Gpslog Dbf">
      </wizard>
   </extension>

</plugin>

