<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="net.refractions.udig.project.ui.tool">
      <modalTool
            categoryId="eu.hydrologis.jgrass.annotations.category"
            class="eu.hydrologis.jgrass.annotationlayer.AnnotationTool"
            cursor="default"
            icon="icons/highlight.gif"
            id="eu.hydrologis.jgrass.annotationlayer.annotationtool"
            name="%annotationtool.name"
            onToolbar="true"
            toolCursorId="annotationtool.cursor"
            tooltip="%annotationtool.tooltip">
         <cursor
               hotspotX="0"
               hotspotY="15"
               image="icons/highlight.gif">
         </cursor>
      </modalTool>
      <toolCursor
            hotspotX="0"
            hotspotY="15"
            id="annotationtool.cursor"
            image="icons/highlight.gif">
      </toolCursor>
      <category
            icon="icons/highlight.gif"
            id="eu.hydrologis.jgrass.annotations.category"
            name="Annotations">
      </category>
      <modalTool
            categoryId="eu.hydrologis.jgrass.annotations.category"
            class="eu.hydrologis.jgrass.annotationlayer.AnnotationRemoveTool"
            cursor="default"
            icon="icons/remove.gif"
            id="eu.hydrologis.jgrass.annotationlayer.annotationremovetool"
            name="%annotationremovetool.name"
            onToolbar="true"
            toolCursorId="annotationremovetool.cursor"
            tooltip="%annotationremovetool.tooltip">
         <cursor
               hotspotX="0"
               hotspotY="15"
               image="icons/remove.gif">
         </cursor>
      </modalTool>
      <toolCursor
            hotspotX="0"
            hotspotY="15"
            id="annotationremovetool.cursor"
            image="icons/remove.gif">
      </toolCursor>
   </extension>
   <extension
         id="annotationmapgraphicid"
         point="net.refractions.udig.mapgraphic.mapgraphic">
      <mapGraphic
            class="eu.hydrologis.jgrass.annotationlayer.mapgraphic.AnnotationLayerMapGraphic"
            icon="icons/highlight.gif"
            id="eu.hydrologis.jgrass.annotationlayer.mapgraphic"
            name="%annotationlayermapgraphic.name">
      </mapGraphic>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="eu.hydrologis.beegisviews.category"
            class="eu.hydrologis.jgrass.annotationlayer.AnnotationsPropertiesView"
            fastViewWidthRatio="0.20"
            icon="icons/highlight.gif"
            id="eu.hydrologis.jgrass.annotationlayer.AnnotationsPropertiesView"
            name="%annotations.view.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="eu.hydrologis.jgrass.annotationlayer.export.ExportAnnotationsWizard"
            icon="icons/highlight.gif"
            id="eu.hydrologis.jgrass.annotationlayer.export.ExportAnnotationsWizard"
            name="Export Annotations Layer">
      </wizard>
   </extension>

</plugin>
